.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card-body1 {
  min-height: 300px;
  min-width: 300px;
  margin-right: 5px;

}
.location{
  margin-bottom: 90px;
}
.card-body {
  font-family: 'Cormorant SC', serif;
  margin-bottom: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .card-group.card-group-scroll {
      overflow-x: auto;
      flex-wrap: nowrap;
  }

  .card-group.card-group-scroll > .card {
      flex-basis: 35%;
  }
}

.icon {
  width: 120px;
  
}

.current-weather {
  text-align: left;
}

.current-weather2 {
  text-align: right;
}

.icon-photo{
  float:center;
  width: 120px;
 }

 .location {
  position: absolute; bottom: 0;
  display: flex;
  width: 90%;
 }

.box_info {
  text-align: left;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.location{
  border-radius: 50px;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  margin-right:15px;
  transform: scale(1.5);
}
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.h-100{
 box-shadow: 0 10px 10px;
}
.sun{
  padding-top:2px;
}
.toggle-theme{
  
  @media(max-width:768px){
      position: absolute;
      top: 10px;
      right: 10px;
  }
}
.card{
  margin-bottom: 30px;

}



.dark-mode  {
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-in-out;
}

.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.25s ease-in-out;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #19a2c1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}
